.DS_Store
BillSplit/BillSplit.xcodeproj/project.xcworkspace/xcuserdata/iiqrah.xcuserdatad/UserInterfaceState.xcuserstate
mass-conversion/mass-conversion.xcodeproj/project.xcworkspace/xcuserdata/iiqrah.xcuserdatad/UserInterfaceState.xcuserstate
